/* index.css */
@import "tailwindcss";

html, body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#wrap {
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}